@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');

* {
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    border-radius: 5px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image:url(tło.png);
    width: 100vw;
    height: auto;
    font-family: 'Staatliches', cursive;
    letter-spacing: 0.02em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

#logo {
    background-image: url(../cmmc/logo_cmm.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    max-width: auto;
    max-height: 100vh;
    height: 80vh;
    margin-top: 5em;
}

#header {
    background-color: transparent;
    color: #f00;
    cursor: default;
    height: 3.25em;
    left: 0;
    line-height: 2.25em;
    position: fixed;
    text-align: left;
    top: 1em;
    width: 50%;
    z-index: 10001;
    padding: 0 1.5em;
    font-family: 'Staatliches', cursive;
}

#header a {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    font-size: 1.5em;
    color: #f00;
    font-weight: 400;
    text-decoration: none;
}

#header a:after {
    background: none repeat scroll 0 0 transparent;
    border-radius: 5px;
    bottom: 1.15vh;
    content: "";
    display: flex;
    height: 0.15em;
    position: relative;
    background: #f00a;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#header a:hover:after { 
    
    border-radius: 5px;
    width: 10.1em; 
    left: 0; 
}

#toggle {
    border-radius: 5px;
    display: none;
}

.hamburger {
    position: absolute;
    top: 3.5em;
    right: 1em;
    margin-left: -2em;
    margin-top: -45px;
    width: 2em;
    height: 45px;
    z-index: 5;
}
  
.hamburger div {
    position: relative;
    width: 2em;
    height: 0.3em;
    border-radius: 10px;
    background-color: #00f;
    margin-top: 0.3em;
    transition: all 0.3s ease-in-out;
}

.hamburger div:nth-child(2) {
    background-color: #f00;
}

.hamburger div:hover {
    cursor: pointer;
}
  
.nav {
    content: '';
    width: 100vw;
    height: 100vh;
    position: fixed;
    right: 0; 
    bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
}
  
.nav-wrapper {
    filter: none;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

#menu-nav {
    border-radius: 5px;
    filter: none;
    z-index: 10001;
    text-align: center;
    transform: translate -50% -50%;
    margin-top: 10em;
}

#menu-nav a {
    border-radius: 5px;
    position: relative;
    text-decoration: none;
    color: #000; /* podstawowy kolor w menu */
    border-width: 1px;
    border-color: #00f;
    text-shadow: 0px 0px 8px #00f;
    font-size: 1.5em;
    display: inline-block;
    margin-top: 1.25em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
    font-family: 'Staatliches', cursive;
}

#menu-nav a:before {
    content: '';
    height: 0;
    position: absolute;
    letter-spacing: 50px;
    width: 0.25em;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
}

#menu-nav a:hover {
    color: #00f;
    text-shadow: 0px 0px 8px #000;
}

#ion-icon a:hover {
    color: #fff;
}

#menu-nav a:hover:before {
    height: 100%;
}
  
#toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 20px;
    margin-right: 25px
}

#toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
}

#toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -5px;
    margin-right: 25px;
}


#toggle:checked + .hamburger + .nav {
    opacity: 1;
    visibility: visible;
}
  
#toggle:checked + .hamburger + .nav > .nav-wrapper {
    top: 0;
    transform: scale(1);
}

.home-outline {
    margin-top: 1em;
}

/* -------------------- */

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
}

::-webkit-scrollbar {
    width: .7em;
    transition: all .9s ease-in-out; 
}

::-webkit-scrollbar-track {
    background: #404040;
    border-radius: 5px; 
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5px; 
    
}

::-webkit-scrollbar-thumb:hover {
    background: magenta;
}

#scroll {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

#input {
    position: absolute;
    margin-top: 15vh;
    margin-left: 30vw;
    height: 60vh;
    width: 40vw;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 9px #0B0B0B;
}
input {
    margin-left: 7.5vw;
    width: 25vw;
    height: 3vh;
    opacity: 0.4;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    text-align: center;
}

form p:nth-child(1) {
    margin-top: 5vh;
} 

form p:nth-child(2) {
    margin-top: .8em;
} 

form p:nth-child(3) {
    margin-top: .8em;
} 

form p:nth-child(4) {
    margin-top: .8em;
} 

form p:nth-child(5) {
    margin-top: .8em;
} 

form p:nth-child(6) {
    margin-top: .8em;
} 

form p:nth-child(7) {
    margin-top: .8em;
} 

form p:nth-child(8) {
    margin-top: .8em;
} 

input[type=submit] {
    margin-top: 1.5em;
    font-size: 0.8vw;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 500;
    margin-left: 15vw;
    width: 10vw;
}

#input2 input[type=submit] {
    margin-top: 4.5em;
    font-size: 0.8vw;
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 500;
    margin-left: 15vw;
    width: 10vw;
}

input[type=file] {
    display: none;
}

input::placeholder {
    font-family: 'Smooch Sans', sans-serif;
    font-weight: 500;
    opacity: 1;
    font-size: 0.8vw;
}